body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

.content {
    min-height: 100vh; /* Garante que a área de conteúdo ocupe pelo menos a altura da tela */
    padding: 20px;
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total do elemento */
    overflow-y: auto; /* Permite rolagem vertical */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 20px;
    color: #00796b;
}

#quiz-container {
    margin: 20px auto;
    max-width: 600px;
    background-color: #ffffff;
    border: 1px solid #00796b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    width: 200px;
    height: 40px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #388e3c;
}

.option {
    margin: 10px 0;
    cursor: pointer;
}

.option:hover {
    background-color: #f1f1f1;
}

.correct {
    background-color: #4caf50;
    color: white;
}

.incorrect {
    background-color: #f44336;
    color: white;
}
